package {{.PackageName}}
{{$entity := .Entity}}
{{$name := .Entity.Name}}
{{- $scalars := nonSliceScalarFields .Entity.Fields}}
{{- $singularEdges := allSingularEdgeFields .Entity.Fields}}
{{- $multiEdges := allMultiEdgeFields .Entity.Fields}}
{{- $sliceFields := allSliceFields .Entity.Fields}}

import (
	"context"
	"encoding/json"

	"github.com/matthewmcneely/modusgraph"
)

// DgraphMap converts the {{$name}} to a map for Dgraph mutation.
// This enables persistence of private fields without requiring unsafe reflection.
func (e *{{$name}}) DgraphMap() map[string]interface{} {
	m := make(map[string]interface{})
	if e.UID != "" {
		m["uid"] = e.UID
	}
	if len(e.DType) > 0 {
		m["dgraph.type"] = e.DType
	}
{{- range $scalars}}{{if not .IsUID}}{{if not .IsDType}}
	{{- if eq .GoType "string"}}
	if e.{{.Name}} != "" {
		m["{{.JSONTag}}"] = e.{{.Name}}
	}
	{{- else if eq .GoType "int"}}
	if e.{{.Name}} != 0 {
		m["{{.JSONTag}}"] = e.{{.Name}}
	}
	{{- else if eq .GoType "float64"}}
	if e.{{.Name}} != 0 {
		m["{{.JSONTag}}"] = e.{{.Name}}
	}
	{{- else if eq .GoType "bool"}}
	if e.{{.Name}} {
		m["{{.JSONTag}}"] = e.{{.Name}}
	}
	{{- else if hasPrefix .GoType "time."}}
	if !e.{{.Name}}.IsZero() {
		m["{{.JSONTag}}"] = e.{{.Name}}
	}
	{{- else}}
	m["{{.JSONTag}}"] = e.{{.Name}}
	{{- end}}
{{- end}}{{end}}{{end}}
{{- range $singularEdges}}
	{{- if hasPrefix .GoType "*"}}
	if e.{{.Name}} != nil {
		m["{{.JSONTag}}"] = e.{{.Name}}.DgraphMap()
	}
	{{- else if hasPrefix .GoType "[]*"}}
	if len(e.{{.Name}}) > 0 && e.{{.Name}}[0] != nil {
		m["{{.JSONTag}}"] = e.{{.Name}}[0].DgraphMap()
	}
	{{- else if hasPrefix .GoType "[]"}}
	if len(e.{{.Name}}) > 0 {
		m["{{.JSONTag}}"] = e.{{.Name}}[0].DgraphMap()
	}
	{{- else}}
	m["{{.JSONTag}}"] = e.{{.Name}}.DgraphMap()
	{{- end}}
{{- end}}
{{- range $multiEdges}}
	if len(e.{{.Name}}) > 0 {
		s := make([]map[string]interface{}, 0, len(e.{{.Name}}))
		for i := range e.{{.Name}} {
		{{- if hasPrefix (elemType .GoType) "*"}}
			if e.{{.Name}}[i] != nil {
				s = append(s, e.{{.Name}}[i].DgraphMap())
			}
		{{- else}}
			s = append(s, e.{{.Name}}[i].DgraphMap())
		{{- end}}
		}
		m["{{.JSONTag}}"] = s
	}
{{- end}}
{{- range $sliceFields}}
	if len(e.{{.Name}}) > 0 {
		m["{{.JSONTag}}"] = e.{{.Name}}
	}
{{- end}}
	return m
}

// UnmarshalJSON implements custom JSON unmarshaling for {{$name}},
// allowing private fields to be populated from Dgraph query responses.
func (e *{{$name}}) UnmarshalJSON(data []byte) error {
	type alias struct {
		UID   string   `json:"uid,omitempty"`
		DType []string `json:"dgraph.type,omitempty"`
{{- range $scalars}}{{if not .IsUID}}{{if not .IsDType}}
		{{.Name | toCamelCase}} {{.GoType}} `json:"{{.JSONTag}},omitempty"`
{{- end}}{{end}}{{end}}
{{- range $singularEdges}}
		{{.Name | toCamelCase}} {{.GoType}} `json:"{{.JSONTag}},omitempty"`
{{- end}}
{{- range $multiEdges}}
		{{.Name | toCamelCase}} {{.GoType}} `json:"{{.JSONTag}},omitempty"`
{{- end}}
{{- range $sliceFields}}
		{{.Name | toCamelCase}} {{.GoType}} `json:"{{.JSONTag}},omitempty"`
{{- end}}
	}
	var a alias
	if err := json.Unmarshal(data, &a); err != nil {
		return err
	}
	e.UID = a.UID
	e.DType = a.DType
{{- range $scalars}}{{if not .IsUID}}{{if not .IsDType}}
	e.{{.Name}} = a.{{.Name | toCamelCase}}
{{- end}}{{end}}{{end}}
{{- range $singularEdges}}
	e.{{.Name}} = a.{{.Name | toCamelCase}}
{{- end}}
{{- range $multiEdges}}
	e.{{.Name}} = a.{{.Name | toCamelCase}}
{{- end}}
{{- range $sliceFields}}
	e.{{.Name}} = a.{{.Name | toCamelCase}}
{{- end}}
	return nil
}

// ValidateWith validates the {{$name}} using a mirror struct with exported fields,
// allowing the validator to access private field values safely. All fields are
// included so that custom validators (registered by field name or type) work
// correctly. Fields with validate tags have their tags preserved on the mirror.
func (e *{{$name}}) ValidateWith(ctx context.Context, v modusgraph.StructValidator) error {
	type mirror struct {
{{- range $scalars}}{{if not .IsUID}}{{if not .IsDType}}
	{{- if .ValidateTag}}
		{{.Name | toCamelCase}} {{.GoType}} `validate:"{{.ValidateTag}}"`
	{{- else}}
		{{.Name | toCamelCase}} {{.GoType}}
	{{- end}}
{{- end}}{{end}}{{end}}
{{- range $singularEdges}}
	{{- if .ValidateTag}}
		{{.Name | toCamelCase}} {{.GoType}} `validate:"{{.ValidateTag}}"`
	{{- else}}
		{{.Name | toCamelCase}} {{.GoType}}
	{{- end}}
{{- end}}
{{- range $multiEdges}}
	{{- if .ValidateTag}}
		{{.Name | toCamelCase}} {{.GoType}} `validate:"{{.ValidateTag}}"`
	{{- else}}
		{{.Name | toCamelCase}} {{.GoType}}
	{{- end}}
{{- end}}
{{- range $sliceFields}}
	{{- if .ValidateTag}}
		{{.Name | toCamelCase}} {{.GoType}} `validate:"{{.ValidateTag}}"`
	{{- else}}
		{{.Name | toCamelCase}} {{.GoType}}
	{{- end}}
{{- end}}
	}
	return v.StructCtx(ctx, mirror{
{{- range $scalars}}{{if not .IsUID}}{{if not .IsDType}}
		{{.Name | toCamelCase}}: e.{{.Name}},
{{- end}}{{end}}{{end}}
{{- range $singularEdges}}
		{{.Name | toCamelCase}}: e.{{.Name}},
{{- end}}
{{- range $multiEdges}}
		{{.Name | toCamelCase}}: e.{{.Name}},
{{- end}}
{{- range $sliceFields}}
		{{.Name | toCamelCase}}: e.{{.Name}},
{{- end}}
	})
}
